{% extends "base.html" %}
{% block content %}

<style>
    .product-heading {
        width: 100%;
        height: relative;
        background-image: url('../../static/background/cosmetic.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 50px 50px;
    }
    @media (max-width: 992px) {
        #next-column {
            padding-top: 20px;
        }
    }
</style>

<!-- Product Header -->
<div class="product-heading">
    <h3>Cosmetic Product</h3>
</div>

<div class="container-fluid py-1">
    <!-- Search Bar -->
    <div class="search-bar">
        <form action="#" id="search-form">
            <div class="input-group col-md-9 mx-md-auto py-3">
                <input 
                    class="form-control py-2 border-right-0 border" 
                    name="search" 
                    value="" 
                    type="search" 
                    placeholder="Search Cosmetic Products..." 
                    id="search-products" 
                    autocomplete="off"
                >
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="no-result">
        <p 
            title="NoResult" 
            style="display: none; 
                   text-align: center; 
                   font-size: large; 
                   color: grey; 
                   margin-top: 6rem;"
                   >No Results Found</p>
    </div>

    <!-- Product List -->
    <div class="row px-4 py-4 ml-2 mt-3" id="cosmetic-list">
        <div class="col-lg-3">
            <h4><b>Preservatives</b></h4>
            <br>
            <p title="Preservatives">Chlorphenesin</p>
            <p title="Preservatives">Ethylhexylglycerin</p>
            <p title="Preservatives">Ethylhexylglycerin + Caprylyl Glycol</p>
            <p title="Preservatives">Ethylhexylglycerin + PG + Octenidine HCl</p>
            <p title="Preservatives">Ethylhexylglycerin + PE</p>
            <p title="Preservatives">Methyl Paraben</p>
            <p title="Preservatives">Piroctone Olamine + PE</p>
            <p title="Preservatives">Propyl Paraben</p>
            <p title="Preservatives">Radish Root Ferment Filtrate</p>
            <p title="Preservatives">Saliethanol Phenoxyethanol</p>
            <p title="Preservatives">Zinc Pyrithione 50% + Radish Root Ferment</p>
            <br>

            <h4><b>Hair Care</b></h4>
            <br>
            <p title="Hair Care">Isostearil Isostearat</p>
            <p title="Hair Care">Kopyrrol (Pyrrolidinyl Diaminopyrimidine Oxide)</p>
            <p title="Hair Care">Kopcolate-A (Ammonium Thioglycolate 50%)</p>
            <p title="Hair Care">Kopcyclamine (Ciclopirox Olamine USP/EP)</p>
            <p title="Hair Care">Kopirox (Piroctone Olamine)</p>
            <p title="Hair Care">Kopthione Zn 50 (Zinc Pyrithione 50%)</p>
            <p title="Hair Care">Kopdil Aqua Powder (Minoxidil Oxothiazolidinecarboxylate Diamino Pyrimidine Oxide)</p>
            <p title="Hair Care">Kopdil (Minoxidil (Pyrimidine Diamine Oxide) USP/EP/IP)</p>
            <p title="Hair Care">Kopexil Aqua Powder (Diaminopyrimidine Oxide Oxothiazolidinecarboxylate)</p>
            <p title="Hair Care">Labrafil Isostearat</p>
            <p title="Hair Care">Minoxidil</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>Skin Care</b></h4>
            <br>
            <p title="Skin Care">Salicylic Acid</p>
            <p title="Skin Care">Astaxanthin</p>
            <p title="Skin Care">Azeloglicina</p>
            <p title="Skin Care">Benzethonium Chloride</p>
            <p title="Skin Care">Chindamycin Phosphate</p>
            <p title="Skin Care">Chloroxylenol</p>
            <p title="Skin Care">Clobetasol Propionate</p>
            <p title="Skin Care">Collagen</p>
            <p title="Skin Care">D-Panthenol</p>
            <p title="Skin Care">Flupcinolone Acetonide</p>
            <p title="Skin Care">Glutathione</p>
            <p title="Skin Care">Halobetasol Propionate</p>
            <p title="Skin Care">Isotretinoin</p>
            <p title="Skin Care">Kopcinol (n-Butyl Resorcinol)</p>
            <p title="Skin Care">Kopcolate (Potassium Thioglycolate)</p>
            <p title="Skin Care">Kopcolate Ca (Calcium Thioglycolate)</p>
            <p title="Skin Care">Kopcotrizinol (Diethylhexyl Butamido Triazone)</p>
            <p title="Skin Care">Kopexil (Diamino Pyrimidine Oxide)</p>
            <p title="Skin Care">Koplactylate (Lauryl Lactyl Lactate)</p>
            <p title="Skin Care">Koprosteine (L-(-)-2-Oxthiazolidine-4- Carboxylic Acid)</p>
            <p title="Skin Care">Kopsorb-M (Bisoctrizole)</p>
            <p title="Skin Care">Kopsova 105 (Isosorbide-2,5 dithioglycolate)</p>
            <p title="Skin Care">Koptrizon (Ethylhexyl Triazone)</p>
            <p title="Skin Care">Kopuron (Sodium Hyaluronate)</p>
            <p title="Skin Care">Kopyrrol Aqua Powder (Pyrrolidinyl Diaminopyrimidine Oxide Oxothiazolidinecarboxylate)</p>
            <p title="Skin Care">L-Glutathione</p>
            <p title="Skin Care">Mometasone Furoate</p>
            <p title="Skin Care">Niacinamide</p>
            <p title="Skin Care">Nicotinamide</p>
            <p title="Skin Care">Resveratrol</p>
            <p title="Skin Care">Sallitoin Allatoin</p>
            <p title="Skin Care">Tretinoin (Retinoic Acid)</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>Emollients</b></h4>
            <br>
            <p title="Emollients">Butylated Hydroxy Toluene</p>
            <p title="Emollients">Decyl Oleate</p>
            <p title="Emollients">Essential Oil</p>
            <p title="Emollients">Glycolic Acid</p>
            <p title="Emollients">Isodecyl Oleate</p>
            <p title="Emollients">Lauryl Lactate</p>
            <p title="Emollients">Myristyl Myristate</p>
            <p title="Emollients">Olive Oil</p>
            <p title="Emollients">Plandoll - DP</p>
            <p title="Emollients">Plandoll - G</p>
            <p title="Emollients">Polyglyceryl Oleate</p>
            <p title="Emollients">Rice Brand Oil</p>
            <p title="Emollients">Rice Germ Oil</p>
            <p title="Emollients">Rice Sterol Ester</p>
            <p title="Emollients">Sodium Lactate 50%</p>
            <p title="Emollients">Sodium Lauroyl Lactylate</p>
            <p title="Emollients">White Oil</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>Others</b></h4>
            <br>
            <p title="Others">Alcohol</p>
            <p title="Others">Allantoin</p>
            <p title="Others">Aloe Vera</p>
            <p title="Others">Arbutin</p>
            <p title="Others">Benzophenon-3</p>
            <p title="Others">BHT</p>
            <p title="Others">Capcicum Oleoresin</p>
            <p title="Others">Collagen</p>
            <p title="Others">Corn Starch</p>
            <p title="Others">Disodium EDTATE (EDTA-2Na)</p>
            <p title="Others">Ginseng Extract</p>
            <p title="Others">Kojic Dipalmitat</p>
            <p title="Others">Menthol Crystal</p>
            <p title="Others">OMC</p>
            <p title="Others">Petroleum Jellly/Vaseline Album</p>
            <p title="Others">Petroleum Jellly/Vaseline Flavum</p>
            <p title="Others">Polidecene</p>
            <p title="Others">Potassium Hydroxide</p>
            <p title="Others">Propylene Glycol</p>
            <p title="Others">Refined Sugar</p>
            <p title="Others">Sodium Ascorbyl Phosphate</p>
            <p title="Others">Sodium Chloride</p>
            <p title="Others">Sodium Lauryl Suphate</p>
            <p title="Others">Talcum</p>
            <p title="Others">Tea Tree Oil</p>
            <p title="Others">Tretinoic Acid</p>
            <p title="Others">Vitamin C</p>
            <p title="Others">Vitamin E</p>
        </div>
    </div>
</div>

<script>
    var textToSearch = "";
    var productList = document.getElementById("cosmetic-list").getElementsByTagName('p');
    var productCategory = document.getElementsByTagName("b");
    var msg = document.querySelector('[title="NoResult"]');

    function search() {
        textToSearch = textToSearch.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        let pattern = new RegExp(`${textToSearch}`, "gi");
        let selectedCategory = [];
        let count = 0

        msg.style.display = "none";

        for (let i = 0; i < productList.length; i++) {
            if (!productList[i].innerHTML.toLowerCase().includes(textToSearch)) {
                productList[i].style.display = "none";
                if (productList[i].style.display === "none") {
                    count += 1;
                }
            } else { 
                productList[i].style.display = "";
                let category = productList[i].getAttribute("title");
                if (!selectedCategory.includes(category)) {
                    selectedCategory.push(category);
                }
            }
        }
        
        for (let i = 0; i < productCategory.length; i++) {
            if (!selectedCategory.includes(productCategory[i].textContent))
                productCategory[i].style.display = "none";
            else 
                productCategory[i].style.display = "";
        }

        if (count === productList.length) {
            msg.style.display = "";
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("search-form").addEventListener("submit", function(e) {
                textToSearch = document.getElementById("search-products").value;
                textToSearch = textToSearch.toLowerCase();
                if (textToSearch !== "") {
                    e.preventDefault();
                    search();
                } else {
                    msg.style.display = "none";
                    for (let i = 0; i < productList.length; i++) {
                        productList[i].style.display = "";
                    }
                    for (let i = 0; i < productCategory.length; i++) {
                        productCategory[i].style.display = "";
                    }
                }
            });
        });
</script>

{% endblock %}