{% extends "base.html" %}
{% block content %}

<style>
    .product-heading {
        width: 100%;
        height: relative;
        background-image: url('../../static/background/pharmaceutical.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 50px 50px;
    }
    @media (max-width: 992px) {
        #next-column {
            padding-top: 20px;
        }
    }
</style>

<!-- Product Header -->
<div class="product-heading">
    <h3>Pharmaceutical Product</h3>
</div>

<div class="container-fluid py-1">
    <!-- Search Bar -->
    <div class="search-bar">
        <form action="#" id="search-form">
            <div class="input-group col-md-9 mx-md-auto py-3">
                <input 
                    class="form-control py-2 border-right-0 border" 
                    name="search" 
                    value="" 
                    type="search" 
                    placeholder="Search Pharmaceutical Products..." 
                    id="search-products"
                    autocomplete="off"
                >
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="no-result">
        <p 
            title="NoResult" 
            style="display: none; 
                   text-align: center; 
                   font-size: large; 
                   color: grey; 
                   margin-top: 6rem;"
                   >No Results Found</p>
    </div>

    <!-- Product List -->
    <div class="row px-4 py-4 ml-2 mt-3" id="pharmaceutical-list">
        <div class="col-lg-3">
            <h4><b>Antibiotic</b></h4>
            <br>
            <p title="Antibiotic">Amoxcillin and Clavulanate Potassium</p>
            <p title="Antibiotic">Amoxicillin Sodium and Clavulanate Potassium</p>
            <p title="Antibiotic">Amoxicillin Trihydrate</p>
            <p title="Antibiotic">Ampicillin Sodium and Sulbactam Sodium</p>
            <p title="Antibiotic">Ampicillin Trihydrate</p>
            <p title="Antibiotic">Azithromycin</p>
            <p title="Antibiotic">Aztreonam (sterile)</p>
            <p title="Antibiotic">Benzethonium Chloride</p>
            <p title="Antibiotic">Benzathine Benzylpenicillin</p>
            <p title="Antibiotic">Capreomycin Sulfate (sterile)</p>
            <p title="Antibiotic">Cefadroxil</p>
            <p title="Antibiotic">Cefalexin</p>
            <p title="Antibiotic">Cefamandole Nafate (sterile)</p>
            <p title="Antibiotic">Cefazolin Sodium (sterile)</p>
            <p title="Antibiotic">Cefodizine Sodium (sterile)</p>
            <p title="Antibiotic">Cefdinir</p>
            <p title="Antibiotic">Cefepime Hydrochloride (sterile)</p>
            <p title="Antibiotic">Cefepime Hydrochloride with L-Arginine (sterile)</p>
            <p title="Antibiotic">Cefminox Sodium (sterile)</p>
            <p title="Antibiotic">Cefoperazone Sodium (sterile)</p>
            <p title="Antibiotic">Cefoprazone Sodium and Sulbactam Sodium 1:1, 2:1 (sterile)</p>
            <p title="Antibiotic">Cefotaxime Sodium (sterile)</p>
            <p title="Antibiotic">Cefoxitin Sodium (sterile)</p>
            <p title="Antibiotic">Cefpirome Sulfate (sterile)</p>
            <p title="Antibiotic">Cefprozil</p>
            <p title="Antibiotic">Ceftazidime</p>
            <p title="Antibiotic">Ceftazidime (sterile)</p>
            <p title="Antibiotic">Ceftazidine with Sodium Carbonate (sterile)</p>
            <p title="Antibiotic">Ceftezole Sodium (sterile)</p>
            <p title="Antibiotic">Ceftizoxime Sodium (sterile)</p>
            <p title="Antibiotic">Ceftriaxone Sodium (sterile)</p>
            <p title="Antibiotic">Cefuroxime Axetil</p>
            <p title="Antibiotic">Cefuroxime Sodium (sterile)</p>
            <p title="Antibiotic">Cephradine</p>
            <p title="Antibiotic">Cepharadine with L-Arginine (sterile)</p>
            <p title="Antibiotic">Chindamycin Phosphate</p>
            <p title="Antibiotic">Cilastatin</p>
            <p title="Antibiotic">Ciprofloxacin Base</p>
            <p title="Antibiotic">Ciprofloxacin Hydrocloride</p>
            <p title="Antibiotic">Ciprofloxacin Lactate</p>
            <p title="Antibiotic">Clarithromycin</p>
            <p title="Antibiotic">Clindamycin Hydrochloride</p>
            <p title="Antibiotic">Clindamycin Palmitate Hydrochloride</p>
            <p title="Antibiotic">Cloramphenicol</p>
            <p title="Antibiotic">Clortetracyline Hydrochloride</p>
            <p title="Antibiotic">Doripenem (sterile)</p>
            <p title="Antibiotic">Doxycycline Hydrochloride</p>
            <p title="Antibiotic">Ertapenem (sterile)</p>
            <p title="Antibiotic">Erythromycin</p>
            <p title="Antibiotic">Erythromycin Ethylsuccinate</p>
            <p title="Antibiotic">Flomoxef Sodium</p>
            <p title="Antibiotic">Fosfomycin Calcium/Sodium</p>
            <p title="Antibiotic">Imipenem (sterile)</p>
            <p title="Antibiotic">Latamoxef Sodium (sterile)</p>
            <p title="Antibiotic">Levofloxacin Hemihydrate</p>
            <p title="Antibiotic">Levofloxacin Hydrochloride</p>
            <p title="Antibiotic">Meropenem (sterile)</p>
            <p title="Antibiotic">Methenamin</p>
            <p title="Antibiotic">Metronidazole</p>
            <p title="Antibiotic">Metronidazole Benzoate</p>
            <p title="Antibiotic">Mezlocillin Sodium</p>
            <p title="Antibiotic">Minocycline Hyrochloride</p>
            <p title="Antibiotic">Moxifloxacin</p>
            <p title="Antibiotic">Ofloxacin</p>
            <p title="Antibiotic">PCMX or Chloroxylenol</p>
            <p title="Antibiotic">Penicillin V Potassium</p>
            <p title="Antibiotic">Piperacillin Sodium (sterile)</p>
            <p title="Antibiotic">Piperacillin Sodium and Sulbactam Sodium 8:1 (sterile)</p>
            <p title="Antibiotic">Procaine Benzylpenicillin (sterile)</p>
            <p title="Antibiotic">Rifampin</p>
            <p title="Antibiotic">Roxithromycin</p>
            <p title="Antibiotic">Spectinomycin Hydrochloride/Sulfate (oral/sterile)</p>
            <p title="Antibiotic">Side Chain for Biapenem</p>
            <p title="Antibiotic">Triclosan</p>
            <p title="Antibiotic">Thiamphenicol</p>
            <p title="Antibiotic">Thiamphenicol Glycinate Hydrochloride</p>
            <p title="Antibiotic">Thiamphenicol Palmitate</p>
            <p title="Antibiotic">Tobramycin</p>
            <p title="Antibiotic">Vaconomycin Hydrocloride</p>
            <p title="Antibiotic">Zinc Lactate Dihydrate</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>Antifungi</b></h4>
            <br>
            <p title="Antifungi">Dienogest</p>
            <p title="Antifungi">Clotrimazole</p>
            <p title="Antifungi">Fluconazole</p>
            <p title="Antifungi">Itraconazole</p>
            <p title="Antifungi">Ketokonazole</p>
            <p title="Antifungi">Miconazole</p>
            <p title="Antifungi">Nystatin</p>
            <p title="Antifungi">Tioconazole</p>
            <p title="Antifungi">Voriconazole</p>
            <br>

            <h4><b>Antimalaria</b></h4>
            <br>
            <p title="Antimalaria">Atovaquone</p>
            <p title="Antimalaria">Doksisiklin</p>
            <p title="Antimalaria">Klorokuin</p>
            <p title="Antimalaria">Meflokuin</p>
            <p title="Antimalaria">Primakuin</p>
            <br>

            <h4><b>Antivirus</b></h4>
            <br>
            <p title="Antivirus">Acyclovir</p>
            <p title="Antivirus">Ganciclovir</p>
            <p title="Antivirus">Nevirapine</p>
            <p title="Antivirus">Oseltamivir</p>
            <p title="Antivirus">Ribavirin</p>
            <p title="Antivirus">Zanamivir</p>
            <br>

            <h4><b>Corticosteroide</b></h4>
            <br>
            <p title="Corticosteroide">Beclomethasone Dipropionate</p>
            <p title="Corticosteroide">Betamethasone</p>
            <p title="Corticosteroide">Betamethasone Dipropionate</p>
            <p title="Corticosteroide">Betamethasone Sodium Phospate</p>
            <p title="Corticosteroide">Betamethasone Valerate</p>
            <p title="Corticosteroide">Budesonide</p>
            <p title="Corticosteroide">Buserellin Acetate</p>
            <p title="Corticosteroide">Clobetasol Propionate</p>
            <p title="Corticosteroide">Cortisone</p>
            <p title="Corticosteroide">Cortisone Acetate</p>
            <p title="Corticosteroide">Deflazacort</p>
            <p title="Corticosteroide">Desonide</p>
            <p title="Corticosteroide">Desoximetasone</p>
            <p title="Corticosteroide">Dexamethasone Base</p>
            <p title="Corticosteroide">Dexamethasone Sodium Phosphate</p>
            <p title="Corticosteroide">Dexamethasone-17-acetate</p>
            <p title="Corticosteroide">Diflorasone</p>
            <p title="Corticosteroide">Flumethasone</p>
            <p title="Corticosteroide">Flumethasone Acid</p>
            <p title="Corticosteroide">Fluorometholone</p>
            <p title="Corticosteroide">Fluticasone Propionate</p>
            <p title="Corticosteroide">Hydrocortisone</p>
            <p title="Corticosteroide">Hydrocortisone Acetate</p>
            <p title="Corticosteroide">Meprednisone</p>
            <p title="Corticosteroide">Meprednisone Hemisuccinate</p>
            <p title="Corticosteroide">Methylprednisolone</p>
            <p title="Corticosteroide">Methylprednisolone Acetate</p>
            <p title="Corticosteroide">Mometasone Furoate</p>
            <p title="Corticosteroide">Prednisolone</p>
            <p title="Corticosteroide">Prednisone</p>
            <p title="Corticosteroide">Triamcinolone</p>
            <p title="Corticosteroide">Triamcinolone Acetonide</p>
            <p title="Corticosteroide">Triamcinolone Acetonide Acetate</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>Excipient</b></h4>
            <br>
            <p title="Excipient">2-Pyrrodinone</p>
            <p title="Excipient">Alcohol</p>
            <p title="Excipient">Aspartame</p>
            <p title="Excipient">Benzyl Alcohol</p>
            <p title="Excipient">Benzyl Benzoate</p>
            <p title="Excipient">CMC (any visconity)</p>
            <p title="Excipient">Corn Starch</p>
            <p title="Excipient">Dextrose Anhydrous/Monohydrate</p>
            <p title="Excipient">Glycerine</p>
            <p title="Excipient">Gummi Arabic</p>
            <p title="Excipient">HP55</p>
            <p title="Excipient">HPMC (5cps/15cps/50cps)</p>
            <p title="Excipient">Inositol</p>
            <p title="Excipient">Isopropyl Alcohol</p>
            <p title="Excipient">Lanolin Anhydrous</p>
            <p title="Excipient">L-HPC</p>
            <p title="Excipient">Linolin Oil</p>
            <p title="Excipient">Magnesium Stearate</p>
            <p title="Excipient">Mannitol</p>
            <p title="Excipient">MCC (PH101/PH102/PH200)</p>
            <p title="Excipient">N-Methyl-2-Pyrrolidone</p>
            <p title="Excipient">Pregelatinized Starch</p>
            <p title="Excipient">Propylene Glycol</p>
            <p title="Excipient">PVP K17/K25/K30/K90</p>
            <p title="Excipient">PVP Lodine</p>
            <p title="Excipient">PVP VA64</p>
            <p title="Excipient">PVP XL/CL/Cross</p>
            <p title="Excipient">Silicon Dioxide/Aerosil</p>
            <p title="Excipient">Sodium Lauryl Suphate</p>
            <p title="Excipient">Sodium Starch Glycolate</p>
            <p title="Excipient">Sorbitol</p>
            <p title="Excipient">Stearic Acid</p>
            <p title="Excipient">Talcum</p>
            <p title="Excipient">Tween 20/60/80</p>
            <p title="Excipient">Vaselin Alba</p>
            <p title="Excipient">Xanthan Gum</p>
            <p title="Excipient">β-Cylodextrin</p>
            <br>

            <h4><b>Gastro</b></h4>
            <br>
            <p title="Gastro">Hyoscine-N-Butylbromide</p>
            <p title="Gastro">Lansoprazole</p>
            <p title="Gastro">Metoclopramide HCl</p>
            <p title="Gastro">Metoclopramide Hydrocloride</p>
            <p title="Gastro">Omeprazole</p>
            <p title="Gastro">Ondansetron Hydrochloride</p>
            <p title="Gastro">Pantoprazole Sodium</p>
            <p title="Gastro">Ranitidine HCl</p>
            <br>

            <h4><b>Hormones</b></h4>
            <br>
            <p title="Hormones">Conjugated Estrogens</p>
            <p title="Hormones">Cyproterone Acetate</p>
            <p title="Hormones">Estradiol</p>
            <p title="Hormones">Estriol</p>
            <p title="Hormones">Estrone</p>
            <p title="Hormones">Ethinylestradiol</p>
            <p title="Hormones">Flurogestone Acetae</p>
            <p title="Hormones">Progesterone</p>
            <p title="Hormones">Testosterone</p>
        </div>
        <div class="col-lg-3" id="next-column">
            <h4><b>NSAIDs</b></h4>
            <br>
            <p title="NSAIDs">Aspirin</p>
            <p title="NSAIDs">Celecoxib</p>
            <p title="NSAIDs">Etodolac</p>
            <p title="NSAIDs">Flurbiprofen</p>
            <p title="NSAIDs">Ibuprofen</p>
            <p title="NSAIDs">Indomethacin</p>
            <p title="NSAIDs">Ketoprofen</p>
            <p title="NSAIDs">Ketorolac</p>
            <p title="NSAIDs">Mefenamic Acid</p>
            <p title="NSAIDs">Meloxicam</p>
            <p title="NSAIDs">Naproxen</p>
            <p title="NSAIDs">Natrium Diklofenak</p>
            <p title="NSAIDs">Piroxicam</p>
            <p title="NSAIDs">Sulindac</p>
            <p title="NSAIDs">Tolmetin</p>
            <br>

            <h4><b>Preservatives</b></h4>
            <br>
            <p title="Preservatives">Benzalkonium Chloride</p>
            <p title="Preservatives">Buthyl Paraben</p>
            <p title="Preservatives">Chlorphenesin</p>
            <p title="Preservatives">Ethyl Paraben</p>
            <p title="Preservatives">Methyl Paraben</p>
            <p title="Preservatives">Potassium Sorbate</p>
            <p title="Preservatives">Propyl Paraben</p>
            <p title="Preservatives">Sodium Benzoate</p>
            <br>

            <h4><b>Sedative</b></h4>
            <br>
            <p title="Sedative">Lidocaine</p>
            <br>
            
            <h4><b>Supplement & Multivitamins</b></h4>
            <br>
            <p title="Supplement & Multivitamins">Astaxanthin</p>
            <p title="Supplement & Multivitamins">Axerophtholum (Vitamin A) </p>
            <p title="Supplement & Multivitamins">Calcium D-Pantothenate</p>
            <p title="Supplement & Multivitamins">Cobamamide</p>
            <p title="Supplement & Multivitamins">Collagen</p>
            <p title="Supplement & Multivitamins">Cytidine</p>
            <p title="Supplement & Multivitamins">Folic Acid</p>
            <p title="Supplement & Multivitamins">Glucosamine</p>
            <p title="Supplement & Multivitamins">L-Carnitine Fumarate</p>
            <p title="Supplement & Multivitamins">Mecobalamin</p>
            <p title="Supplement & Multivitamins">Nicotinamide</p>
            <p title="Supplement & Multivitamins">VA Acetate/Palmitate, Powder/Oil</p>
            <p title="Supplement & Multivitamins">VB1 HCl/Mono</p>
            <p title="Supplement & Multivitamins">VB2</p>
            <p title="Supplement & Multivitamins">VB6 HCL</p>
            <p title="Supplement & Multivitamins">VD3 Powder/Oil</p>
            <p title="Supplement & Multivitamins">Vitamin B12</p>
            <p title="Supplement & Multivitamins">Vitamin C Powder/Coated/Sodium</p>
            <p title="Supplement & Multivitamins">VK1 - 4</p>
            <br>

            <h4><b>Others</b></h4>
            <br>
            <p title="Others">Actarit</p>
            <p title="Others">Bicalutamide</p>
            <p title="Others">Chlorpheniramine Maleate</p>
            <p title="Others">Dorzolamide</p>
            <p title="Others">Dutasteride</p>
            <p title="Others">Finasteride</p>
            <p title="Others">Gabapentin</p>
            <p title="Others">Ginseng Extract</p>
            <p title="Others">Heparin Sodium</p>
            <p title="Others">Ketotifen Fumarate</p>
            <p title="Others">Levetiracetam</p>
            <p title="Others">Levodopa</p>
            <p title="Others">Loratadine</p>
            <p title="Others">Mebhydrolin Napadisylate</p>
            <p title="Others">Metamizole Sodium (Analgin)</p>
            <p title="Others">Montelukast Sodium</p>
            <p title="Others">Nateglinide</p>
            <p title="Others">Paracetamol</p>
            <p title="Others">Repaglinide</p>
            <p title="Others">Tranexamic Acid</p>
            <p title="Others">Voglibose</p>
        </div>
    </div>
</div>

<script>
    var textToSearch = "";
    var productList = document.getElementById("pharmaceutical-list").getElementsByTagName('p');
    var productCategory = document.getElementsByTagName("b");
    var msg = document.querySelector('[title="NoResult"]');

    function search() {
        textToSearch = textToSearch.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        let pattern = new RegExp(`${textToSearch}`, "gi");
        let selectedCategory = [];
        let count = 0

        msg.style.display = "none";

        for (let i = 0; i < productList.length; i++) {
            if (!productList[i].innerHTML.toLowerCase().includes(textToSearch)) {
                productList[i].style.display = "none";
                if (productList[i].style.display === "none") {
                    count += 1;
                }
            } else { 
                productList[i].style.display = "";
                let category = productList[i].getAttribute("title");
                if (!selectedCategory.includes(category)) {
                    selectedCategory.push(category);
                }
            }
        }

        for (let i = 0; i < productCategory.length; i++) {
            if (!selectedCategory.includes(productCategory[i].textContent))
                productCategory[i].style.display = "none";
            else 
                productCategory[i].style.display = "";
        }

        if (count === productList.length) {
            msg.style.display = "";
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("search-form").addEventListener("submit", function(e) {
                textToSearch = document.getElementById("search-products").value;
                textToSearch = textToSearch.toLowerCase();
                if (textToSearch !== "") {
                    e.preventDefault();
                    search();
                } else {
                    msg.style.display = "none";
                    for (let i = 0; i < productList.length; i++) {
                        productList[i].style.display = "";
                    }
                    for (let i = 0; i < productCategory.length; i++) {
                        productCategory[i].style.display = "";
                    }
                }
            });
        });
</script>

{% endblock %}