{% extends "base.html" %}
{% block content %}

<style>
    .product-heading {
        width: 100%;
        height: relative;
        background-image: url('../../static/background/veterinary.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 50px 50px;
    }
    @media (max-width: 768px) {
        #next-column {
            padding-top: 20px;
        }
    }
</style>

<!-- Product Header -->
<div class="product-heading">
    <h3>Veterinary Product</h3>
</div>

<div class="container-fluid py-1">
    <!-- Search Bar -->
    <div class="search-bar">
        <form action="#" id="search-form">
            <div class="input-group col-md-9 mx-md-auto py-3">
                <input class="form-control py-2 border-right-0 border" name="search" value="" type="search" placeholder="Search Veterinary Products..." id="search-products">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <!-- Product List -->
    <div class="row px-4 py-4 ml-4 mt-3" id="veterinary-list">
        <div class="col-md-4">
            <h4><b>Antibacterial</b></h4>
            <br>
            <p>Chlorhexidine Gluconate (CHG)</p>
            <br>

            <h4><b>Antibiotics</b></h4>
            <br>
            <p>Amoxicilin Trihidrate</p>
            <p>Ciprofloxacin HCl</p>
            <p>Doxycycline</p>
            <p>Neomycin Sulphate</p>
            <br>

            <h4><b>Athelmentics</b></h4>
            <br>
            <p>Niclosamide</p>
            <p>Piperazine and Salts</p>
            <p>Totrazury</p>
        </div>
        <div class="col-md-4" id="next-column">
            <h4><b>Feed Additives</b></h4>
            <br>
            <p>Choline Chloride 60 CC</p>
            <p>Choline Chloride 75% Liquid</p>
            <p>Cholmax TM</p>
            <p>L-Lysine</p>
            <p>Lysiomax TM</p>
            <p>Methiomax TM</p>
            <br>

            <h4><b>Minerals</b></h4>
            <br>
            <p>Alcium Iodate 62%</p>
            <p>Cobalt Sulphate</p>
            <p>Copper Sulphate Pentahydrate 25%</p>
            <p>DCP 18%</p>
            <p>Ferous Sulphate</p>
            <p>Manganese Oxide</p>
            <p>Manganese Sulphate Monohydrate</p>
            <p>Potassium Iodide</p>
            <p>Sodium Selenite</p>
        </div>
        <div class="col-md-4" id="next-column">
            <h4><b>Vitamins</b></h4>
            <br>
            <p>D-Calcium Panthotenate</p>
            <p>Folic Acid</p>
            <p>Inositol</p>
            <p>Niacinamide (Vitamin B3)</p>
            <p>Vitamin C</p>
            <p>Vitamin E</p>
            <p>Vitamin K3</p>
            <br>

            <h4><b>Others</b></h4>
            <br>
            <p>Dexamethasone</p>
            <p>Dextrose</p>
            <p>Lactose</p>
            <p>Paracetamol</p>
        </div>
    </div>
</div>

<script>
    var textToSearch = "";
    var productList = document.getElementById("veterinary-list").getElementsByTagName('p');

    function search() {
        console.log(textToSearch)
        textToSearch = textToSearch.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        let pattern = new RegExp(`${textToSearch}`, "gi");

        for (let i = 0; i < productList.length; i++) {
            if (!productList[i].innerHTML.toLowerCase().includes(textToSearch)) 
                productList[i].style.display = "none";
            else 
                productList[i].style.display = "";
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("search-form").addEventListener("submit", function(e) {
                textToSearch = document.getElementById("search-products").value;
                textToSearch = textToSearch.toLowerCase();
                if (textToSearch !== "") {
                    e.preventDefault();
                    console.log(productList);
                    search();
                } else {
                    for (let i = 0; i < productList.length; i++) {
                        productList[i].style.display = "";
                    }
                }
            });
        });
</script>

{% endblock %}