{% extends "base.html" %}
{% block content %}

<style>
    .product-heading {
        width: 100%;
        height: relative;
        background-image: url('../../static/background/veterinary.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 50px 50px;
    }
    @media (max-width: 768px) {
        #next-column {
            padding-top: 20px;
        }
    }
</style>

<!-- Product Header -->
<div class="product-heading">
    <h3>Veterinary Product</h3>
</div>

<div class="container-fluid py-1">
    <!-- Search Bar -->
    <div class="search-bar">
        <form action="#" id="search-form">
            <div class="input-group col-md-9 mx-md-auto py-3">
                <input 
                    class="form-control py-2 border-right-0 border" 
                    name="search" 
                    value="" 
                    type="search" 
                    placeholder="Search Veterinary Products..." 
                    id="search-products"
                    autocomplete="off"
                >
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <!-- Product List -->
    <div class="row px-4 py-4 ml-4 mt-3" id="veterinary-list">
        <div class="col-md-4">
            <h4><b>Antibacterial</b></h4>
            <br>
            <p title="Antibacterial">Chlorhexidine Gluconate (CHG)</p>
            <br>

            <h4><b>Antibiotics</b></h4>
            <br>
            <p title="Antibiotics">Amoxicilin Trihidrate</p>
            <p title="Antibiotics">Ciprofloxacin HCl</p>
            <p title="Antibiotics">Doxycycline</p>
            <p title="Antibiotics">Neomycin Sulphate</p>
            <br>

            <h4><b>Athelmentics</b></h4>
            <br>
            <p title="Athelmentics">Niclosamide</p>
            <p title="Athelmentics">Piperazine and Salts</p>
            <p title="Athelmentics">Totrazury</p>
        </div>
        <div class="col-md-4" id="next-column">
            <h4><b>Feed Additives</b></h4>
            <br>
            <p title="Feed Additives">Choline Chloride 60 CC</p>
            <p title="Feed Additives">Choline Chloride 75% Liquid</p>
            <p title="Feed Additives">Cholmax TM</p>
            <p title="Feed Additives">L-Lysine</p>
            <p title="Feed Additives">Lysiomax TM</p>
            <p title="Feed Additives">Methiomax TM</p>
            <br>

            <h4><b>Minerals</b></h4>
            <br>
            <p title="Minerals">Alcium Iodate 62%</p>
            <p title="Minerals">Cobalt Sulphate</p>
            <p title="Minerals">Copper Sulphate Pentahydrate 25%</p>
            <p title="Minerals">DCP 18%</p>
            <p title="Minerals">Ferous Sulphate</p>
            <p title="Minerals">Manganese Oxide</p>
            <p title="Minerals">Manganese Sulphate Monohydrate</p>
            <p title="Minerals">Potassium Iodide</p>
            <p title="Minerals">Sodium Selenite</p>
        </div>
        <div class="col-md-4" id="next-column">
            <h4><b>Vitamins</b></h4>
            <br>
            <p title="Vitamins">D-Calcium Panthotenate</p>
            <p title="Vitamins">Folic Acid</p>
            <p title="Vitamins">Inositol</p>
            <p title="Vitamins">Niacinamide (Vitamin B3)</p>
            <p title="Vitamins">Vitamin C</p>
            <p title="Vitamins">Vitamin E</p>
            <p title="Vitamins">Vitamin K3</p>
            <br>

            <h4><b>Others</b></h4>
            <br>
            <p title="Others">Dexamethasone</p>
            <p title="Others">Dextrose</p>
            <p title="Others">Lactose</p>
            <p title="Others">Paracetamol</p>
        </div>
    </div>
</div>

<script>
    var textToSearch = "";
    var productList = document.getElementById("veterinary-list").getElementsByTagName('p');
    var productCategory = document.getElementsByTagName("b");

    function search() {
        textToSearch = textToSearch.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        let pattern = new RegExp(`${textToSearch}`, "gi");
        let selectedCategory = [];

        for (let i = 0; i < productList.length; i++) {
            if (!productList[i].innerHTML.toLowerCase().includes(textToSearch)) {
                productList[i].style.display = "none";
            } else { 
                productList[i].style.display = "";
                let category = productList[i].getAttribute("title");
                if (!selectedCategory.includes(category)) {
                    selectedCategory.push(category);
                }
            }
        }

        for (let i = 0; i < productCategory.length; i++) {
            if (!selectedCategory.includes(productCategory[i].textContent))
                productCategory[i].style.display = "none";
            else 
                productCategory[i].style.display = "";
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("search-form").addEventListener("submit", function(e) {
                textToSearch = document.getElementById("search-products").value;
                textToSearch = textToSearch.toLowerCase();
                if (textToSearch !== "") {
                    e.preventDefault();
                    search();
                } else {
                    for (let i = 0; i < productList.length; i++) {
                        productList[i].style.display = "";
                    }
                    for (let i = 0; i < productCategory.length; i++) {
                        productCategory[i].style.display = "";
                    }
                }
            });
        });
</script>

{% endblock %}