{% extends "base.html" %}
{% block content %}

<style>
    #staff {
        width: 100%;
        height: 100%;
    }
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    #about-us {
        background-color: #fff;
        justify-content: center;
    }
    #vision-title, #vision, #mision-title, #mision {
        justify-content: center;
        background-color: #ededed;
    }
    @media (max-width: 768px) {
        #mision1, #mision2 {
            margin-bottom: 20px;
        }
    }
</style>

<div class="container-fluid">
    <div class="row no-gutters nopadding">
        <div class="col-lg-5 no-gutters nopadding">
            <img src="../static/photos/all_staff.jpg" id="staff">
        </div>
        <!-- About Us Description -->
        <div class="col-lg-7 px-5 mt-3 py-5 text-center" id="about-us">
            <!-- <div class="row px-5 py-5 text-center" id="about-us"> -->
            <h3>About Us</h3>
            <br><br><br>
            <!-- <p><strong>PT Jegati Gempita Trijaya merupakan perusahaan yang berdiri sejak 29 Agustus 2019, 
                bergerak dibidang supplier bahan baku obat dan kosmetik</strong>
                <br><br>
                Kami telah memiliki izin dan sertifikasi yang diakui oleh BPOM dan Kementrian Kesehatan. 
                Dengan izin PBBF dan sertifikasi CDOB, sarana dan prasarana serta pengawasan mutu produk 
                yang didistribusikan terlah terjamin dan memenuhi standar yang ditetapkan oleh BPOM.
                <br><br>
                Dengan kerjasama yang kuat dengan supplier serta rutin mengikuti pameran CPhI di Asia, kami 
                berkomitmen untuk menjadi supplier yang berkualitas.
            </p> -->
            <p><strong>PT Jegati Gempita Trijaya was established on August, 2019, specialized in supplying
                Pharmaceutical and Cosmetic raw materials certified by BPOM (National Agency of Drug and Food Control) 
                and Ministry of Health Indonesia</strong>
                <br><br>
                Approved by PBF (Pedagang Besar Farmasi) and CDOB (Cara Distribusi Obat yang Baik), we have ensured 
                that our facilities, infrastructure and quality of products have qualified the highest standard. 
                <br><br>
                We are committed to maintain our best standard as a supplier through our strong cooperation with manufacturers
                from all around the world. 
            </p>
            <!-- </div> -->
        </div>
    </div>

    <!-- Vision -->
    <div class="row px-5 pt-5 pb-3" id="vision-title">
        <h3>Our Vision</h3>
    </div>
    <div class="row px-5 pb-5 text-center" id="vision">
        <!-- <p>"Menjadi pemasok bahan baku yang unggul dalam menyediakan produk yang bermutu dengan 
            harga terbaik bagi pelanggan"</p> -->
        <p>"Excel as a supplier by providing products with the best quality and price to customers"</p>
        <br>
    </div>
    <!-- Mision -->
    <div class="row px-5 pb-3" id="mision-title">
        <h3>Our Mision</h3>
    </div>
    <div class="row px-5 pb-5" id="mision">
        <div class="col-md-4 no-gutters text-center" id="mision1">
            <img src="../static/icons/distribution.png" style="width: 70px;">
            <br><br>
            <!-- <p>Menjadi pemasok bahan baku industri dan kosmetik dengan segala legalitas dan kehalalannya.</p>  -->
            <p>Aim to provide legal and permissible pharmaceutical and cosmetic raw materials.</p>
        </div>
        <div class="col-md-4 no-gutters text-center" id="mision2">
            <img src="../static/icons/handshake.png" style="width: 70px;">
            <br><br>
            <!-- <p>Berkomitmen dalam memberikan pelayanan terbaik dan mempertahankan kepercayaan pelanggan.</p>  -->
            <p>Committed to provide our best service and build stronger relation with customers.</p> 
        </div>
        <div class="col-md-4 no-gutters text-center">
            <img src="../static/icons/project-management.png" style="width: 70px;">
            <br><br>
            <!-- <p>Menjadi perusahaan yang inovatif dalam menanggapi setiap perubahan.</p> -->
            <p>Embrace innovation.</p>
        </div>
    </div>
</div>

{% endblock %}