{% extends "base.html" %}
{% block content %}

<style>
    #about-us {
        background-color: #fff;
        justify-content: center;
    }
    #vision-title, #vision, #mision-title, #mision {
        justify-content: center;
        background-color: #ededed;
    }
</style>

<div class="container-fluid">
    <!-- About Us -->
    <div class="row px-5 py-5 text-center" id="about-us">
        <h3>About Us</h3>
        <br><br><br>
        <p><strong>PT Jegati Gempita Trijaya merupakan perusahaan yang berdiri sejak 29 Agustus 2019, 
            bergerak dibidang supplier bahan baku obat dan kosmetik</strong>
            <br><br>
            Kami telah memiliki izin dan sertifikasi yang diakui oleh BPOM dan Kementrian Kesehatan. 
            Dengan izin PBBF dan sertifikasi CDOB, sarana dan prasarana serta pengawasan mutu produk 
            yang didistribusikan terlah terjamin dan memenuhi standar yang ditetapkan oleh BPOM.
            <br><br>
            Dengan kerjasama yang kuat dengan supplier serta rutin mengikuti pameran CPhI di Asia, kami 
            berkomitmen untuk menjadi supplier yang berkualitas.
        </p>
    </div>

    <!-- Vision -->
    <div class="row px-5 pt-5 pb-3" id="vision-title">
        <h3>Our Vision</h3>
    </div>
    <div class="row px-5 pb-5 text-center" id="vision">
        <p>"Menjadi pemasok bahan baku yang unggul dalam menyediakan produk yang bermutu dengan 
            harga terbaik bagi pelanggan"</p>
        <br>
    </div>
    <!-- Mision -->
    <div class="row px-5 pb-3" id="mision-title">
        <h3>Our Mision</h3>
    </div>
    <div class="row px-5 pb-5" id="mision">
        <div class="col-md-4 no-gutters text-center">
            <img src="../static/distribution.png" style="width: 70px;">
            <br><br>
            <p>Menjadi pemasok bahan baku industri dan kosmetik dengan segala legalitas dan kehalalannya.</p>
            <br><br>
        </div>
        <div class="col-md-4 no-gutters text-center">
            <img src="../static/handshake.png" style="width: 70px;">
            <br><br>
            <p>Berkomitmen dalam memberikan pelayanan terbaik dan mempertahankan kepercayaan pelanggan.</p>
            <br><br>
        </div>
        <div class="col-md-4 no-gutters text-center">
            <img src="../static/project-management.png" style="width: 70px;">
            <br><br>
            <p>Menjadi perusahaan yang inovatif dalam menanggapi setiap perubahan.</p>
        </div>
    </div>
</div>

{% endblock %}