{% extends "base.html" %}
{% block content %}

<style>
    .fa-map-marker, .fa-phone, .fa-fax, .fa-envelope {
        margin-right: 8px;
    }
    #contact-us {
        justify-content: center;
    }
    .maps-responsive {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
    .maps-responsive > * {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .required:after {
        content:" *";
        color: red;
    }
    .require:before {
        content:"* ";
        color: red;
    }
    #submit-button {
        background: linear-gradient(to bottom right, #004d00, #001540, #deae36);
        border-width: 4px;
        border-color: black;
        border-radius: 20px;
        padding: 10px;
        border-style: solid;
        color: white;
        margin-bottom: 10px;
    }
    #submit-button:hover{
        background: linear-gradient(to bottom right, #004d00, #001540, #deae36);
        border:6px solid;
        color: white;
    }
    #status {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
    }
    #status.success {
        background-color: rgb(211, 250, 153);
        animation: status 5s ease forwards;
    }
    #status.error {
        background-color: rgb(250, 129, 92);
        color: white;
        animation: status 10s ease forwards;
    }
    @keyframes status {
        0% {
            opacity: 1;
            pointer-events: all;
        }
        90% {
            opacity: 1;
            pointer-events: all;
        }
        100% {
            opacity: 0;
            pointer-events: none;
        }
    }
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container-fluid">
    <!-- Contact Info -->
    <div class="row px-5 pt-5 pb-5" id="contact-us">
        <h3>Contact Us</h3>
    </div>
    <div class="row px-5 pb-5">
        <div class="col-xl-3 no-gutters">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Ruko Taman Modern</p>
            <p>Blok R4 No. 6,</p>
            <p>Ujung Menteng - Cakung,</p>
            <p>East Jakarta 13960</p>
            <p>Indonesia</p>
            <br>
        </div>
        <div class="col-xl-3 no-gutters">
            <p><i class="fa fa-phone" aria-hidden="true">
                <a href="tel:+62214612232" class="link"> Phone: +6221 4612232</a>
            </i></p>
            <p><i class="fa fa-fax" aria-hidden="true">
                <a href="tel:+622146820775" class="link"> Fax: +6221 46820775</a></i></p>
            <p><i class="fa fa-envelope" aria-hidden="true">
                <a href="mailto:info@jegati.com" class="link"> info@jegati.com</a>
            </i></p>
            <br><br>
        </div>
        <!-- Google Maps Location -->
        <div class="col-xl-6 no-gutters">
            <div class="maps-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.56895158196!2d106.94707151459808!3d-6.188391362354332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698be9bf14305f%3A0x98378498ba9d4921!2sPT.%20JEGATI%20GEMPITA%20TRIJAYA!5e0!3m2!1sid!2sid!4v1624510079852!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <section>
        <!-- Form -->
        <div class="form-container">
            <form class="form-horizontal px-5 pb-5" id="contact-us-form" action="https://formspree.io/f/mgerdybj" method="POST">
                <div class="form-group">
                    <label class="required" for="First Name">First Name</label>
                    <input type="text" class="form-control" id="First Name" name="First Name" required="true">
                </div>
                <div class="form-group">
                    <label for="Last Name">Last Name</label>
                    <input type="text" class="form-control" id="Last Name" name="Last Name">
                </div>
                <div class="form-group">       
                <label for="Company Name">Company Name</label>
                <input type="text" class="form-control" id="Company Name" name="Company Name">
                </div>
                <div class="form-group">
                    <label class="required" for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required="true">
                </div>
                <div class="form-group">
                    <label class="required" for="Phone Number">Phone Number</label>
                    <input type="number" class="form-control" id="Phone Number" name="Phone Number" required="true">
                </div>
                <div class="form-group">
                    <label class="required" for="Message">Your Message</label>
                    <textarea class="form-control" id="Message" name="Message" rows="6" required="true"></textarea>
                </div>

                <p class="require">Required</p>
                <button id="submit-button" type="submit">Submit</button>

                <div id="status"></div>
            </form>
        </div>
    </section>
</div>

<script>
    var form = document.getElementById("contact-us-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.status === 200) {
            status.classList.add("success");
            status.innerHTML = "Thanks for your submission! Our customer service will be in contact with you soon.";
            form.reset()
          }
        else {
            status.classList.add("error");
            status.innerHTML = "Oops! There was a problem submitting your form, please contact info@jegati.com";
        }
      }).catch(error => {
        status.classList.add("error");
        status.innerHTML = "Oops! There was a problem submitting your form, please contact info@jegati.com";
      });
    }
    form.addEventListener("submit", handleSubmit);
</script>

{% endblock %}