{% extends "base.html" %}
{% block content %}

<style>
    .product-heading {
        width: 100%;
        height: relative;
        background-image: url('../static/background/cosmetic.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 50px 50px;
    }
</style>

<!-- Product Header -->
<div class="product-heading">
    <h3>Cosmetic Product</h3>
</div>

<div class="container-fluid py-1">
    <!-- Search Bar -->
    <div class="search-bar">
        <form action="#">
            <div class="input-group col-md-9 mx-md-auto py-3">
                <input class="form-control py-2 border-right-0 border" name="search" value="" type="search" placeholder="Search Cosmetic Products..." id="search-products">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <!-- Product List -->
    <div class="row px-4 py-4 ml-2">
        <div class="col-lg-3">
            <h4><b>Preservatives</b></h4>
            <br>
            <p>Chlorphenesin</p>
            <p>Ethylhexylglycerin</p>
            <p>Ethylhexylglycerin + Caprylyl Glycol</p>
            <p>Ethylhexylglycerin + PG + Octenidine HCl</p>
            <p>Ethylhexylglycerin + PE</p>
            <p>Methyl Paraben</p>
            <p>Piroctone Olamine + PE</p>
            <p>Propyl Paraben</p>
            <p>Radish Root Ferment Filtrate</p>
            <p>Saliethanol Phenoxyethanol</p>
            <p>Zinc Pyrithione 50% + Radish Root Ferment</p>
            <br>

            <h4><b>Hair Care</b></h4>
            <br>
            <p>Isostearil Isostearat</p>
            <p>Kopyrrol (Pyrrolidinyl Diaminopyrimidine Oxide)</p>
            <p>Kopcolate-A (Ammonium Thioglycolate 50%)</p>
            <p>Kopcyclamine (Ciclopirox Olamine USP/EP)</p>
            <p>Kopirox (Piroctone Olamine)</p>
            <p>Kopthione Zn 50 (Zinc Pyrithione 50%)</p>
            <p>Kopdil Aqua Powder (Minoxidil Oxothiazolidinecarboxylate Diamino Pyrimidine Oxide)</p>
            <p>Kopdil (Minoxidil (Pyrimidine Diamine Oxide) USP/EP/IP)</p>
            <p>Kopexil Aqua Powder (Diaminopyrimidine Oxide Oxothiazolidinecarboxylate)</p>
            <p>Labrafil Isostearat</p>
            <p>Minoxidil</p>
        </div>
        <div class="col-lg-3">
            <h4><b>Skin Care</b></h4>
            <br>
            <p>Salicylic Acid</p>
            <p>Astaxanthin</p>
            <p>Azeloglicina</p>
            <p>Benzethonium Chloride</p>
            <p>Chindamycin Phosphate</p>
            <p>Chloroxylenol</p>
            <p>Clobetasol Propionate</p>
            <p>Collagen</p>
            <p>D-Panthenol</p>
            <p>Flupcinolone Acetonide</p>
            <p>Glutathione</p>
            <p>Halobetasol Propionate</p>
            <p>Isotretinoin</p>
            <p>Kopcinol (n-Butyl Resorcinol)</p>
            <p>Kopcolate (Potassium Thioglycolate)</p>
            <p>Kopcolate Ca (Calcium Thioglycolate)</p>
            <p>Kopcotrizinol (Diethylhexyl Butamido Triazone)</p>
            <p>Kopexil (Diamino Pyrimidine Oxide)</p>
            <p>Koplactylate (Lauryl Lactyl Lactate)</p>
            <p>Koprosteine (L-(-)-2-Oxthiazolidine-4- Carboxylic Acid)</p>
            <p>Kopsorb-M (Bisoctrizole)</p>
            <p>Kopsova 105 (Isosorbide-2,5 dithioglycolate)</p>
            <p>Koptrizon (Ethylhexyl Triazone)</p>
            <p>Kopuron (Sodium Hyaluronate)</p>
            <p>Kopyrrol Aqua Powder (Pyrrolidinyl Diaminopyrimidine Oxide Oxothiazolidinecarboxylate)</p>
            <p>L-Glutathione</p>
            <p>Mometasone Furoate</p>
            <p>Niacinamide</p>
            <p>Nicotinamide</p>
            <p>Resveratrol</p>
            <p>Sallitoin Allatoin</p>
            <p>Tretinoin (Retinoic Acid)</p>
        </div>
        <div class="col-lg-3">
            <h4><b>Emollients</b></h4>
            <br>
            <p>Butylated Hydroxy Toluene</p>
            <p>Decyl Oleate</p>
            <p>Essential Oil</p>
            <p>Glycolic Acid</p>
            <p>Isodecyl Oleate</p>
            <p>Lauryl Lactate</p>
            <p>Myristyl Myristate</p>
            <p>Olive Oil</p>
            <p>Plandoll - DP</p>
            <p>Plandoll - G</p>
            <p>Polyglyceryl Oleate</p>
            <p>Rice Brand Oil</p>
            <p>Rice Germ Oil</p>
            <p>Rice Sterol Ester</p>
            <p>Sodium Lactate 50%</p>
            <p>Sodium Lauroyl Lactylate</p>
            <p>White Oil</p>
        </div>
        <div class="col-lg-3">
            <h4><b>Others</b></h4>
            <br>
            <p>Alcohol</p>
            <p>Allantoin</p>
            <p>Aloe Vera</p>
            <p>Arbutin</p>
            <p>Benzophenon-3</p>
            <p>BHT</p>
            <p>Capcicum Oleoresin</p>
            <p>Collagen</p>
            <p>Corn Starch</p>
            <p>Disodium EDTATE (EDTA-2Na)</p>
            <p>Ginseng Extract</p>
            <p>Kojic Dipalmitat</p>
            <p>Menthol Crystal</p>
            <p>OMC</p>
            <p>Petroleum Jellly/Vaseline Album</p>
            <p>Petroleum Jellly/Vaseline Flavum</p>
            <p>Polidecene</p>
            <p>Potassium Hydroxide</p>
            <p>Propylene Glycol</p>
            <p>Refined Sugar</p>
            <p>Sodium Ascorbyl Phosphate</p>
            <p>Sodium Chloride</p>
            <p>Sodium Lauryl Suphate</p>
            <p>Talcum</p>
            <p>Tea Tree Oil</p>
            <p>Tretinoic Acid</p>
            <p>Vitamin C</p>
            <p>Vitamin E</p>
            <p></p>
        </div>
    </div>
</div>


{% endblock %}