{% extends "base.html" %}
{% block content %}

<style>
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: 0px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.2s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards; 
        animation-name: fade;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; 
    }
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @media only screen and (max-width: 300px) {
        .prev, .next {
            font-size: 10px;
        }
    }
    #description {
        background-color: #ededed;
    }
</style>

<!-- Slide Show -->
<div class="slideshow-container">
    <div class="homeSlides fade">
        <img src="../static/head_office.jpg" style="width: 100%">
    </div>
    <div class="homeSlides fade">
        <img src="../static/staff.jpg" style="width: 100%">
    </div>
    <div class="homeSlides fade">
        <img src="../static/president_director.jpg" style="width: 100%;">
    </div>
    <div class="homeSlides fade">
        <img src="../static/product.jpg" style="width: 100%">
    </div>
</div>

<a class="prev" onclick="nextSlides(-1)">&#10094</a>
<a class="next" onclick="nextSlides(1)">&#10095</a>

<!-- Company Description -->
<div class="container-fluid">
    <div class="row px-5 py-4 text-center" id="description">
        <p><strong>PT Jegati Gempita Trijaya merupakan perusahaan yang berdiri sejak 29 Agustus 2019, 
            bergerak dibidang supplier bahan baku obat dan kosmetik</strong>
            <br><br>
            Kami telah memiliki izin dan sertifikasi yang diakui oleh BPOM dan Kementrian Kesehatan. 
            Dengan izin PBBF dan sertifikasi CDOB, sarana dan prasarana serta pengawasan mutu produk 
            yang didistribusikan terlah terjamin dan memenuhi standar yang ditetapkan oleh BPOM.
            <br><br>
            Dengan kerjasama yang kuat dengan supplier serta rutin mengikuti pameran CPhI di Asia, kami 
            berkomitmen untuk menjadi supplier yang berkualitas.
        </p>
    </div>
</div>

<!-- JavaScript for Slide Show -->
<script>
    var index = 1;
    showSlides(index);
    
    function nextSlides(n) {
        showSlides(index += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("homeSlides");
        if (n > slides.length) {
            index = 1;
        }
        if (n < 1) {
            index = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[index - 1].style.display = "block";
    }
</script>

{% endblock %}