{% extends "base.html" %}
{% block content %}

<style>
    #product-bar {
        background-color: #ededed;
    }
    .nav-link {
        text-align: center;
        color: inherit;
    }
</style>

 <!-- Products Navbar -->
<div class="row no-gutters" id="product-bar">
    <div class="col-sm-4" id="bar">
        <a class="nav-link" href="/products/cosmetics">Cosmetics</a>
    </div>
    <div class="col-sm-4" id="bar">
        <a class="nav-link" href="/products/food">Food</a>
    </div>
    <div class="col-sm-4" id="bar">
        <a class="nav-link" href="/products/medical-devices">Medical Devices</a>
    </div>
</div>

<!-- Search Bar -->
<div class="search-bar p-3">
    <form action="#">
        <div class="input-group col-md-9 mx-md-auto py-3">
            <input class="form-control py-2 border-right-0 border" name="search" value="" type="search" placeholder="Search Products..." id="search-products">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>

<!-- Products Content -->

<!-- Product Contents -->
<!-- JavaScript for Checking Products URL -->
<!-- <script type="text/javascript">
    $(document).ready(function() {
      if (window.location.href.indexOf("cosmetics") > -1) {
        <div class="product-content">
            location.replace("cosmetics.html")
        </div>
      }
    });
  </script> -->

<!-- {% if productLocation == "cosmetics" %}
    {% include 'cosmetics.html' %}
{% elif productLocation == "food" %}
    {% include 'cosmetics.html' %}
{% elif productLocation == "medical-devices" %}
    {% include 'cosmetics.html' %}
{% endif %} -->

{% endblock %}