{% extends "base.html" %}
{% block content %}

<style>
    #service-title, #service {
        background-color: #ededed;
        justify-content: center;
    }
    @media (max-width: 768px) {
        #service1, #service2 {
            margin-bottom: 20px;
        }
    }
</style>

<div class="container-fluid">
    <!-- Our Services -->
    <div class="row px-5 pt-5 pb-4" id="service-title">
        <h3>Our Services</h3>
    </div>
    <div class="row px-5 pb-5" id="service">
        <div class="col-md-4 no-gutters text-center" id="service1">
            <img src="../static/icons/clock.png" style="width: 70px;">
            <br><br>
            <p><strong>Fast Response</strong>
                <!-- <br>Memberikan respon yang cepat terkait pelayanan dan keluhan dari pelanggan.</p> -->
                <br>Provide fast service and respond to customer complaints</p>
        </div>
        <div class="col-md-4 no-gutters text-center" id="service2">
            <img src="../static/icons/waranty.png" style="width: 70px;">
            <br><br>
            <p><strong>Satisfaction Guarantee</strong>
                <!-- <br>Garansi pengembalian barang bila tidak sesuai dengan spesifikasi.</p> -->
                <br>Return policy for defective or unsatisfactory product</p>
        </div>
        <div class="col-md-4 no-gutters text-center">
            <img src="../static/icons/shipped.png" style="width: 70px;">
            <br><br>
            <p><strong>On-Call Delivery</strong>
                <!-- <br>Menyediakan layanan pesanan langsung antar sesuai dengan kebutuhan pelanggang.</p> -->
                <br>Provide on-call delivery for fast shipment</p>
        </div>
    </div>
</div>

{% endblock %}